* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff;
}

.form-wrapper {
    display: flex;
    min-height: 100vh;
}

.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 350px;
    padding: 25px;
}

.form h2 {
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.form button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #a109f2;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.form button:hover {
    background: #6c2179;
}

p {
    font-size: 12px;
    margin-top: 10px;
}

.sign {
    text-align: center;
}

.right {
    width: 50%;
    height: 100vh;
}

.image-box {
    width: 100%;
    height: 100%;
    position: relative;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text {
    position: absolute;
    left: 30px;
    color: #fff;
    font-size: 32px;
    padding: 10px 20px;
    margin-top: 300px;
    margin-left: 150px;
}
